@model RowsCount

@{
    ViewData["Title"] = "Generated";
}

<div class="text-center">
    <br />
    <h1 class="display-4" style="text-align: left;"><b>Records List</b></h1>
    <hr /><br />
    <h2 class="display-6" style="text-align: left;">Fuel records in CSV: <b>@Model.fuels</b></h2>     @* <a onclick="downloaded()" href="@Url.Action("DownloadFile", "Fuels", new { fileNumber = 1 })" type="button" class="btn btn-outline-primary btn-sm">Download Fuels</a><br /> *@

    <br />
    <h2 class="display-6" style="text-align: left;">Lube records in CSV: <b>@Model.Lubes</b></h2>     @* <a onclick="downloaded()" href="@Url.Action("DownloadFile", "Fuels", new { fileNumber = 2 })" type="button" class="btn btn-outline-danger btn-sm">Download Lubes</a><br /> *@

    <br />
    <h2 class="display-6" style="text-align: left;">Safedrop records in CSV: <b>@Model.safedrops</b></h2>      @* <a onclick="downloaded()" href="@Url.Action("DownloadFile", "Fuels", new { fileNumber = 3 })" type="button" class="btn btn-outline-success btn-sm">Download Safedrops</a><br /> *@
    <br />
    <br />

    @Html.Raw(TempData["msg"])

    @section Scripts {
        <script>

    // function noJournal() {
    //     Swal.fire({
    //         icon: "error",
    //         title: "No database found!",
    //         text: "It seems that journal.sqlite is missing"
    //     }).then((result) => {
    //         if (result.isConfirmed) {
    //             window.parent.close();
    //         }
    //     });
    // }

    // document.getElementById('closeTabButton').addEventListener('click', function () {
    //     window.parent.close();
    // });

    // function exit() {
    //     window.open('', '_self').close()
    // }

    // function generate(){
    //     Swal.fire("Sample Generate");
    // }

    // function success() {
    //     Swal.fire({
    //         icon: "success",
    //         title: "Generation Success!",
    //         showConfirmButton: true,
    //         // timer: 1500
    //     });
    // }

    // function downloaded() {
    //     Swal.fire({
    //         icon: "success",
    //         title: "Download Success!",
    //         showConfirmButton: true,
    //         // timer: 1500
    //     });
    // }
    
    // function timer() {
    //     let timerInterval;
    //     Swal.fire({
    //         title: "Generating...",
    //         html: "Please do not close the POS",
    //         timer: 3000,
    //         allowOutsideClick: false,
    //         didOpen: () => {
    //             Swal.showLoading();
    //             const timer = Swal.getPopup().querySelector("b");
    //             timerInterval = setInterval(() => {
    //                 timer.textContent = `${Swal.getTimerLeft()}`;
    //             }, 100);
    //         },
    //         willClose: () => {
    //             clearInterval(timerInterval);
    //         }
    //     }).then((result) => {
    //         if (result.dismiss === Swal.DismissReason.timer) {
    //             console.log("I was closed by the timer");
    //         }
    //     });
    // }

</script>
}