@model IEnumerable<Crud_Sqlite.Models.XAddon>

@{
    ViewData["Title"] = "XAddon";
}

<h1>Index</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XTid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XAccountcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XAmountdue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XLastUpdate)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XTid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XAccountcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XAmountdue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XLastUpdate)
                </td>

                
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
